validator/plant.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SEEDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SEED" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ID"/>
              <xs:element type="xs:string" name="NAME"/>
              <xs:element type="xs:int" name="CODE"/>
              <xs:element type="xs:string" name="HIBRID_NAME"/>
              <xs:element type="xs:string" name="PATENT_NUMBER"/>
              <xs:element type="xs:string" name="START_DATE" minOccurs="0"/>
              <xs:element type="xs:string" name="PATENT_OWNER"/>
              <xs:element type="xs:string" name="END_DATE"/>
              <xs:element type="xs:int" name="START_REGISTER_DATE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>